In [1]:
import pandas 
import pandas as pd
bd=pandas.read_csv(r'/Users/manick/Python Training/dataset/Boston.csv',encoding='iso-8859-1')

#cd1=cd1.drop(columns=['Model','Trim'])
bd.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [2]:
df1=bd.loc[:,:]
#df1.corr()
df1.head()
#df1.info()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [3]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression
x1 = bd.drop(columns=['Price'])
y1 = bd['Price'] 
linmod3 = LinearRegression()
rfemod = RFE(linmod3,1)
rfemod.fit(x1,y1)
rfemod.ranking_
x1.columns

varlist = x1.columns
rating = rfemod.ranking_
pd.DataFrame([varlist,rating])

     0   1      2     3    4   5    6    7    8    9        10  11     12
0  CRIM  ZN  INDUS  CHAS  NOX  RM  AGE  DIS  RAD  TAX  PTRATIO   B  LSTAT
1     8  10      9     3    1   2   13    5    7   11        4  12      6

In [4]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
linmod = LinearRegression()
x1 = bd.loc[:,['NOX','RM','CHAS','PTRATIO','DIS','LSTAT','RAD','CRIM','INDUS','ZN','TAX','B','AGE']]
y1 = bd['Price']
linmod.fit(x1,y1)
predPrice = linmod.predict(x1)
r2 = r2_score(y1,predPrice)

n = len(y1)    # Number of Samples
p = x1.shape[1] # Number of Input variables
adjr2 = 1 - (1-r2)*(n-1)/ (n-p-1)
print(r2,adjr2)

0.7406426641094094 0.7337897263724629