In [1]:
import pandas 
import pandas as pd
cd1=pandas.read_csv(r'/Users/manick/Python Training/dataset/concrete.csv',encoding='iso-8859-1')

#cd1=cd1.drop(columns=['Model','Trim'])
cd1.head()

,cement,slag,ash,water,superplastic,coarseagg,fineagg,age,strength
0,141.3,212.0,0.0,203.5,0.0,971.8,748.5,28,29.89
1,168.9,42.2,124.3,158.3,10.8,1080.8,796.2,14,23.51
2,250.0,0.0,95.7,187.4,5.5,956.9,861.2,28,29.22
3,266.0,114.0,0.0,228.0,0.0,932.0,670.0,28,45.85
4,154.8,183.4,0.0,193.3,9.1,1047.4,696.7,28,18.29

In [2]:
df1=cd1.loc[:,:]
#df1.corr()
df1.head()
#df1.info()

,cement,slag,ash,water,superplastic,coarseagg,fineagg,age,strength
0,141.3,212.0,0.0,203.5,0.0,971.8,748.5,28,29.89
1,168.9,42.2,124.3,158.3,10.8,1080.8,796.2,14,23.51
2,250.0,0.0,95.7,187.4,5.5,956.9,861.2,28,29.22
3,266.0,114.0,0.0,228.0,0.0,932.0,670.0,28,45.85
4,154.8,183.4,0.0,193.3,9.1,1047.4,696.7,28,18.29

In [3]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression
x1 = cd1.drop(columns=['strength'])
y1 = cd1['strength'] 
linmod3 = LinearRegression()
rfemod = RFE(linmod3,1)
rfemod.fit(x1,y1)
rfemod.ranking_
x1.columns

varlist = x1.columns
rating = rfemod.ranking_
pd.DataFrame([varlist,rating])

        0     1    2      3             4          5        6    7
0  cement  slag  ash  water  superplastic  coarseagg  fineagg  age
1       4     5    6      2             1          8        7    3

In [4]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
linmod = LinearRegression()
x1 = cd1.loc[:,['superplastic','water','age','cement','slag','ash','fineagg','coarseagg']]
y1 = cd1['strength']
linmod.fit(x1,y1)
predPrice = linmod.predict(x1)
r2 = r2_score(y1,predPrice)

n = len(y1)    # Number of Samples
p = x1.shape[1] # Number of Input variables
adjr2 = 1 - (1-r2)*(n-1)/ (n-p-1)
print(r2,adjr2)

0.6155198704142721 0.6125072934929344